body {
    background-color: #d1d1d1;
    text-align: center;
}
h1, p {
    font-size: 4em;
    font-family: Arial, sans-serif;
    display: inline-block;
    border-radius: 50px;
    padding: 0.2em 0.4em;
    background-color: #0004ff;
    color: #fff;
  }